@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap");
:root {
  --color-primary: 197, 153, 99;
  --color-primary-dark: 179, 133, 81;
  --color-secondary: 16, 29, 44;
  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: 170, 170, 170;
  --color-grey-dark-1: #54483A;
  --color-grey-dark-2: #6D5D4B;
  --font-primary: "Nunito", sans-serif;
  --font-display: "Josefin Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 1000px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  --aside-dim: 7rem;
  min-height: 100vh;
  font-family: var(--font-primary);
  display: flex;
}
@media (max-width: 1000px) {
  body {
    flex-direction: column;
  }
}

main {
  flex: 1;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}
button:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
}

.container-mini {
  width: 80rem;
  max-width: 95%;
  margin: 0 auto;
}

.hero {
  min-height: 80vh;
  display: flex;
}
@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
  }
}
.hero__main {
  flex-grow: 3;
  background-image: linear-gradient(to right bottom, rgba(var(--color-secondary), 0.8), rgba(var(--color-secondary), 0.93)), url("./img/hero.jpeg");
  background-size: cover;
  background-position: center;
}
@media (max-width: 1000px) {
  .hero__main {
    height: 90vh;
  }
}
.hero__realtors {
  flex: 1 0 25rem;
  background: rgb(var(--color-secondary));
}

body {
  font-size: 1.6rem;
}

.text-secondary {
  color: rgb(var(--color-primary));
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}

.text-primary {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
}

.text-tertiary {
  font-size: 1.8rem;
  color: rgb(var(--color-grey-light-2));
  font-weight: 400;
}

.mb-verysmall {
  margin-bottom: 0.5rem;
}

.mb-small {
  margin-bottom: 1.3rem;
}

.mb-medium {
  margin-bottom: 2rem;
}

.mb-large {
  margin-bottom: 4rem;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 600;
}

@media (max-width: 600px) {
  .hide-for-mobile {
    display: none;
  }
}

.hide-for-desktop {
  display: none;
}
@media (max-width: 600px) {
  .hide-for-desktop {
    display: block;
  }
}

.btn {
  padding: 1.2rem 1.8rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  transition: 0.3s all;
  letter-spacing: 1px;
}
.btn:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active {
  transform: translateY(0.2rem);
}
.btn-primary {
  background-color: rgb(var(--color-primary));
  color: white;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: rgb(var(--color-primary-dark));
}

aside {
  background: rgb(var(--color-primary));
  padding: 2.5rem 1rem;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1000px) {
  aside {
    flex-direction: row;
    justify-content: flex-end;
  }
}
aside .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3rem;
  width: 4rem;
  margin-inline: auto;
}
@media (max-width: 1000px) {
  aside .hamburger {
    margin-inline: initial;
  }
}
aside .hamburger .line {
  width: 100%;
  height: 0.2rem;
  background: white;
}

.hero__realtors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .hero__realtors {
    padding-block: 4rem;
  }
}
.hero__realtors .realtors {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
@media (max-width: 1000px) {
  .hero__realtors .realtors {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.hero__realtors .realtors .realtor {
  display: flex;
  gap: 1rem;
}
.hero__realtors .realtors .realtor__img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  overflow: hidden;
}
.hero__realtors .realtors .realtor__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__realtors .realtors .realtor__data .realtor-name {
  font-size: 2.2rem;
  color: white;
}
.hero__realtors .realtors .realtor__data .realtor-sold {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #aaa;
}

.hero__main .container-mini {
  height: 100%;
  padding-block: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero__main .container-mini .hero__icon {
  width: 20rem;
  align-self: center;
}
.hero__main .container-mini .hero__seen .top {
  display: flex;
  align-items: center;
  width: 100%;
}
.hero__main .container-mini .hero__seen .top p {
  margin-inline: 1rem;
}
.hero__main .container-mini .hero__seen .top .line {
  flex-grow: 1;
  height: 1px;
  background: rgb(var(--color-grey-light-2));
}
.hero__main .container-mini .hero__seen .logos {
  display: flex;
  justify-content: space-around;
}
.hero__main .container-mini .hero__seen .logos .logo {
  width: 10rem;
  max-width: 22%;
  filter: brightness(70%);
}

/*# sourceMappingURL=style.css.map */
