.hero__main{
    .container-mini{
        height: 100%;
        padding-block: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        .hero__icon{
            width: 20rem;
            align-self: center;
        }

        .hero__seen{

            .top{
                display: flex;
                align-items: center;
                width: 100%;

                p{
                    margin-inline: 1rem;
                }
                .line{
                    flex-grow: 1;
                    height: 1px;
                    background: rgb(var(--color-grey-light-2));
                }
            }

            .logos{
                display: flex;
                justify-content: space-around;

                .logo{
                    width: 10rem;
                    max-width: 22%;
                    filter: brightness(70%);
                }
            }
        }
    }
    
}