@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Nunito:wght@300;400;700&display=swap');

:root{
    --color-primary: 197, 153, 99;
    --color-primary-dark: 179, 133, 81;

    --color-secondary: 16, 29, 44;

    --color-grey-light-1: #f9f7f6;
    --color-grey-light-2: 170, 170, 170;

    --color-grey-dark-1: #54483A;
    --color-grey-dark-2: #6D5D4B;

    --font-primary: 'Nunito', sans-serif;
    --font-display: 'Josefin Sans', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(tab){font-size: 56.25%;}
    @include respond(mobile){font-size: 50%;}
}

body{
    --aside-dim: 7rem;
    min-height: 100vh;
    font-family: var(--font-primary);
    display: flex;

    @include respond(tab){
        flex-direction: column;
    }
}

main{
    flex: 1;
}

ul{list-style: none;}

a{
    color: inherit;
    text-decoration: none;
}

button{
    border: none;
    &:focus{
        outline: none;
    }
}

img{
    width: 100%;
    height: auto;
}