body{
    font-size: 1.6rem;
}

.text-secondary{
    color: rgb(var(--color-primary));
    font-size: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
}

.text-primary{
    font-size: 5rem;
    letter-spacing: 2px;
    color: white;
    font-weight: 600;
}

.text-tertiary{
    font-size: 1.8rem;
    color: rgb(var(--color-grey-light-2));
    font-weight: 400;
}